<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%# Oh hey, this is an ejs comment! It starts with a # %>
      <% movies.forEach(movie => { %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.releaseYear %></td>
          <td><a href="/movies/<%= movie._id %>">DETAILS</a></td>
          <td>
            <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
              <button>X</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
